@if(!doneLoading){
<ng-lottie [width]="'20vw'" [options]="options"></ng-lottie>
} @else { @if (hero) {

<h2>{{ hero.name | uppercase }} Details</h2>
<div class="">
  <span>{{ hero.id }}</span>
</div>
<div class="">
  <label for="name">Hero name:</label>
  <input type="text" [(ngModel)]="hero.name" name="name" id="name" />
  <div class="flex flex-row justify-evenly w-full"></div>
  <button
    (click)="save()"
    type="button"
    class="bg-indigo-600 text-slate-100 p-2 rounded"
  >
    Save
  </button>
  <button
    type="button"
    class="bg-slate-600 text-slate-200 p-2 rounded"
    (click)="goBack()"
  >
    Go Back
  </button>
</div>
} }
