<div class="flex flex-row w-full text-center">
  <div class="w-full flex flex-col">
    <h2>My Heroes</h2>

    <ul class="heroes flex flex-row justify-center mx-auto flex-wrap w-full">
      @for(hero of heroes; track hero ){ @defer {

      <li>
        <a [routerLink]="['/detail', hero.id]">
          <button [class.selected]="hero === selectedHero" type="button">
            <span class="badge">{{ hero.id }}</span>
            <span class="name">{{ hero.name }}</span>
          </button>
        </a>
        <button class="delete" (click)="delete(hero)">X</button>
      </li>
      } } @empty { @if (doneLoading) {
      <p>There are currently no heroes</p>
      } @else {
      <ng-lottie [width]="'20vw'" [options]="options"></ng-lottie>
      } }
    </ul>
    @if (addingOrDeleting) {
    <div class="mx-auto">
      <ng-lottie [width]="'20vw'" [options]="options"></ng-lottie>
    </div>
    }
    <button class="max-w-[20%] md:max-w-[10%] mx-auto" (click)="openModal()">
      Add Hero
    </button>
  </div>
</div>

@if(!modalClosed){

<app-hero-form
  (modalClose)="closeModal()"
  (addHero)="addHero($event)"
></app-hero-form>
}
